@import url('https://fonts.googleapis.com/css2? family = Open + Sans: wght @ 400; 600; 700 & display = swap');

body {
  font-family: 'OpenSans', sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1.42;
  background:#001821;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

ul {
  padding: 0px;
  margin: 0px;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: normal;
}

.container {
  margin: 0 auto;
  width: 1141px;
}

.header {
  height: 123.36px;
  position: relative;
  margin-bottom: 42px;
}

.logo {
  display: block;
  position: absolute;
  top: 22px;
  left: 0px;
}

.menu {
  position: absolute;
  top: 31px;
  left: 168px;
}

.contacts {
  position: absolute;
  top: 19.64px;
  right: 0px;
  font-style: normal;
  text-align: right;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
}

.menu__link:hover {
  color: #dfb56d;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 4px;
}

.contacts__workours {
  font-size: 13px;
  text-decoration: underline;
}

.contacts__workours:hover {
  color: #dfb56d;
}

.route {
  width: 520px;
}

.route__title {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 22px;
}

.route__text {
  font-size: 18px;
  margin-bottom: 46px;
}

.btn {
  background-color: #F5170E;
  border-radius: 35px;
  padding: 19px 34px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}